.background {
  position: absolute;
  background: url('../../../assets/login/bg.png') no-repeat;
  background-size: cover;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.card-brown{
  margin-top: 10rem;
}
