<div class="background">

  <div class="card card-brown w-50 m-auto" style="margin-top:15rem !important;">
    <div class="card-body">
      <div class="mt-4 mb-4" style="width: 50%;margin: 0 auto;">
        <input class="form-control mb-3" type="text" [(ngModel)]="username" placeholder="username">
        <input class="form-control" type="password" [(ngModel)]="password" placeholder="password">
        <input class="form-control" type="password" [(ngModel)]="repassword" placeholder="repeat password">
        <div class="p-0 btn btn-primary btn-block mt-4" (click)="signUp()" style="font-size: 30px;color:#fff;flex:1;">SignUp</div>
      </div>
    </div>
  </div>

</div>
