.bg{
  position: absolute;
  background: url('./../../../../assets/create-hero/bg_create_hero.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.races-container{
  position: absolute;
  width: 10rem;
  bottom: 5%;
  top:5%;
  left:5%;
  color:#fff;
  font-size: 1.5rem;

  .races-header{
    display: flex;
    justify-content: center;
  }

  .races-body{
    display: flex;
    flex-direction: column;
  }

  .item{
    cursor: pointer;
    padding: .5rem .5rem;

    &:hover{
      background: rgba(115,86,45,0.2);
      border-top: 2px solid #0c3e3f;
      border-bottom: 2px solid #0c3e3f;
    }
  }
}


.jobs-container{
  position: absolute;
  width: 10rem;
  bottom: 5%;
  top:5%;
  right:5%;
  color:#fff;
  font-size: 1.5rem;

  .jobs-header{
    display: flex;
    justify-content: center;
  }

  .jobs-body{
    display: flex;
    flex-direction: column;
  }

  .item{
    cursor: pointer;
    padding: .5rem .5rem;

    &:hover{
      background: rgba(115,86,45,0.2);
      border-top: 2px solid #73562d;
      border-bottom: 2px solid #73562d;
    }
  }
}
