<div class="bg">

  <div class="card card-info races-container" *ngIf="races.length > 0">
    <div class="races-header">
      <h2>Races</h2>
    </div>
    <div class="races-body">
      <div class="item" *ngFor="let race of races" (click)="selectRace(race)">
        {{race.name}}
      </div>
    </div>
  </div>

  <div style="position: relative;margin: 0 auto;background: rgba(255,255,255,0.2); width: 400px;height: 300px;top:25%;color:#fff;border:4px solid rgba(255,255,255,0.5)">
    <div style="position: absolute;top:0;left:0;font-size: 2em;text-align:center;width: 100%;" *ngIf="currentJob"><span>{{currentJob.name}}</span></div>
    <img *ngIf="currentJob" [src]="'../assets/jobs/' + currentJob.name + '.png'" style="position: absolute;top:3rem;left:45%;width: 50px;">
    <div style="position: relative;top: 8rem;width: 100%;color:#fff;padding: 0 2rem;">
      <label>Nickname</label>
      <input type="text" class="form-control" [(ngModel)]="nickname">
      <button class="mt-3 btn btn-block btn-secondary" (click)="createHero()">Create</button>
    </div>
  </div>

  <div class="card jobs-container">
    <div class="jobs-header">
      <h2>Jobs</h2>
    </div>
    <div class="jobs-body" *ngIf="currentRace">
      <div class="item" *ngFor="let job of currentRace.jobs" (click)="selectJob(job)">
        {{job.name}}
      </div>
    </div>
  </div>

</div>
