<div class="background">

  <div class="card card-brown w-50 m-auto" style="margin-top:15rem !important;">
    <div class="card-body">
      <div class="mt-4 mb-4" style="width: 50%;margin: 0 auto;">
        <input class="form-control mb-3" type="text" [(ngModel)]="username" placeholder="username">
        <input class="form-control" type="password" [(ngModel)]="password" placeholder="password">
        <div style="position:absolute;bottom:-20px;display: flex;width: 30%;">
          <div class="p-0 btn btn-primary" (click)="login()" style="font-size: 30px;color:#fff;flex:1;">Login</div>
          <a href="sign-up" class="p-0 btn btn-secondary" style="font-size: 30px;color:#fff;flex:1;">Sign-up</a>
        </div>
      </div>
    </div>
  </div>

</div>

