.background {
  position: absolute;
  background: url('../../../assets/login/bg.png') no-repeat;
  background-size: cover;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.card-brown{
  margin-top: 15%;
  border-radius: 20rem;
}

.form-control {
  color: #495057;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #73562d;
  border: none;
  font-size: 30px;

  &:focus {
    box-shadow: none;
  }
}
