$theme-colors: () !default;
$theme-colors: map-merge(
    (
      "primary":    #FEF0CE,
      "secondary":  blue,
      "success":    green,
      "info":       #197d7f,
      "warning":    yellow,
      "danger":     red,
      "light":      white,
      "dark":       black
    ),
    $theme-colors
);

@font-face {
  font-family: 'pixel';
  src: url('./assets/font/pixel.ttf');
}
body {
  font-family: 'pixel', sans-serif;
  text-shadow: 2px 0 0 #333, -2px 0 0 #333, 0 2px 0 #333, 0 -2px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
  font-size: 1.5rem;
}


/* buttons */
.btn{
  border: none;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

/* cards */
.card{
  background-color: #FEF0CE;
  border: 2px solid rgba(115, 86, 45, 1);
  box-shadow: inset 0 0 50px 20px rgba(175, 134, 73, 0.45);
}

@each $name, $color in $theme-colors {
  .card-#{$name}{
    background: $color;
    border: 2px solid darken($color, 15%);
    box-shadow: inset 0 0 50px 20px rgba(darken($color, 20%), 0.45);
  }
}
